body,
html {
  margin: 0;
  overflow-x: hidden;
}
.box {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

span {
  font-size: 14px;
}
.red {
  background-color: red;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.d-flex {
  display: flex;
  gap: 1rem;
}

.circle:nth-child(odd) {
  background-color: purple;
}
.circle:nth-child(even) {
  background-color: gold;
}

/* smooth */
.smooth {
  .box {
    height: 300px;
    width: 30%;
  }

  .circle {
    height: 300px;
    width: 30%;
  }
}

#trigger_wrapper {
  .boxs {
    width: 90px;
    height: 90px;
    background-color: blueviolet;
    margin: 400px 40px;
    font-size: 20px;
    text-align: center;
  }
  .boxs.active {
    background-color: red;
  }
}

#example_trigger1 {
  .panel_wrappr {
    display: flex;
    width: 300vw;
  }
  .page1 {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
  }
  .page2 {
    width: 100vw;
    height: 100vh;
    background-color: red;
  }
  .page3 {
    width: 100vw;
    height: 100vh;
    background-color: purple;
  }

  .page4 {
    width: 100vw;
    height: 100vh;
    background-color: yellow;
  }
}

#explorex {
  height: 100vh;
  width: 100vw;

  /* .wrapper{
  overflow:hidden;
} */
  .heading {
    height: 20%;
    font-size: 30px;
    text-align: center;
    padding: 4% 4%;
  }

  .row1,
  .row2 {
    display: flex;
  }
  .row1 {
    transform: translateX(-20%);
  }
  .row2 {
    transform: translatex(20%);
  }
  .images img {
    max-width: 245px;
    max-height: 245px;
    background-repeat: no-repeat;
  }
  #expand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 245px;
    max-height: 245px;
  }
  .blue {
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    scale: 1;
  }
}
.pagerel {
  position: relative;
}
