body,
html {
  margin: 0;
  overflow-x: hidden;
}
.box {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

span {
  font-size: 14px;
}
.red {
  background-color: red;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.d-flex {
  display: flex;
  gap: 1rem;
}

.circle:nth-child(odd) {
  background-color: purple;
}
.circle:nth-child(even) {
  background-color: gold;
}

/* smooth */
.smooth {
  .box {
    height: 300px;
    width: 30%;
  }

  .circle {
    height: 300px;
    width: 30%;
  }
}

#trigger_wrapper {
  .boxs {
    width: 90px;
    height: 90px;
    background-color: blueviolet;
    margin: 400px 40px;
    font-size: 20px;
    text-align: center;
  }
  .boxs.active {
    background-color: red;
  }
}

#example_trigger1 {
  .panel_wrappr {
    display: flex;
    width:300vw;
  }
  .page1 {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
  }
  .page2 {
    width: 100vw;
    height: 100vh;
    background-color: red;
  }
  .page3 {
    width: 100vw;
    height: 100vh;
    background-color: purple;
  }

  .page4 {
    width: 100vw;
    height: 100vh;
    background-color: yellow;
  }
}
